<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>测试</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.1-beta1/jquery.js"></script>  
    <script type="text/javascript">
        $.ajax({
            url: '/sign/0',
            type: 'POST',
            dataType: 'json',
            data: {
                url: location.href.split('#')[0]
            },
            success: function(json){
                config(json);
            }
        });
        wx.ready(function() {
            var oBtn = document.getElementById('btn1');

            oBtn.onclick = function() {
                wx.chooseImage({
                    count: 1, // 默认9
                    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                    success: function(res) {
                        var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        alert(localIds)
                    }
                });
            };

            //关闭右上角菜单
            var oBtn2 = document.getElementById('btn2');
            oBtn2.onclick = function() {
                wx.hideOptionMenu();
            };

            //关闭右上角菜单
            var oBtn3 = document.getElementById('btn3');

            oBtn3.onclick = function() {
                wx.showOptionMenu();
            };
        });

        wx.error(function(err) {
            alert('发生错误了');
            console.log(err);
        });
        function config(data){
            wx.config({
                debug: true,
                appId: data.appid,
                timestamp: data.timestamp,
                nonceStr: data.nonceStr,
                signature: data.signature,
                jsApiList: [
                    'chooseImage',
                    'hideOptionMenu',
                    'showOptionMenu'
                ]
            });
        }
    </script>
</head>
<body>
    <input type="button" value="隐藏右上角菜单" id="btn2"/>
    <input type="button" value="显示右上角菜单" id="btn3"/>
    <input type="button" value="拍照" id="btn1"/>
</body>
</html>